body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.loading {
    color: #4edf15;
}

audio {
    margin-top: 20px;
}

select {
    margin-top: 10px;
}